<div id="profile_box">
  <h2><%= @profile.full_name %></h2>
  <ul>
    <li><b>Location</b> <%= @profile.zipcode %></li>
    <li><b>Height</b> <%= @profile.height %></li>
    <li><b>Age</b> <%= @profile.birthday %></li>
    <li><b>Ethnicity</b> <%= @profile.ethnicity %></li>
    <li><b>Education</b> <%= @profile.education %></li>
    <li><b>Job</b> <%= @profile.job %></li>
  </ul>
  <div id="profile_qa">
  </div>
  <div id="profile_links">
  </div>
</div>
