<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @profile.zipcode %>
</p>

<p>
  <b>Birthday:</b>
  <%= @profile.birthday %>
</p>

<p>
  <b>Ethnicity:</b>
  <%= @profile.ethnicity %>
</p>

<p>
  <b>Education:</b>
  <%= @profile.education %>
</p>

<p>
  <b>Job:</b>
  <%= @profile.job %>
</p>

<p>
  <b>Height:</b>
  <%= @profile.height %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
