<h2>Your Profile <small><%= link_to 'edit', edit_dashboard_profile_path %></small></h2>

<p>
<b>Email:</b>
<%= @user.email %>
</p>

<p>
<b>Zip Code:</b>
<%= @profile.zipcode %>
</p>

<p>
<b>Height:</b>
<%= @profile.height %>
</p>

<p>
<b>Birthday:</b>
<%= @profile.birthday %>
</p>

<p>
<b>Ethnicity:</b>
<%= @profile.ethnicity %>
</p>

<p>
<b>Education:</b>
<%= @profile.education %>
</p>

<p>
<b>Job:</b>
<%= @profile.job %>
</p>

